<h1>Mes restaurants</h1>

<% @restaurants.each do |restaurant| %>

  <div>
    <h2><%= restaurant.name %> <%= 'â­' * restaurant.rating %></h2>
    <p><%= restaurant.address %></p>
    <%= link_to 'More details', restaurant_path(restaurant)  %>
  </div>
<% end %>
