<div class="container">
  <h2>Create a new restaurant</h2>
  <%= render 'form' %>
</div>

<!-- <form action="/restaurants" method="post">
  <%# hidden_field_tag :authenticity_token, form_authenticity_token %>

  <label for="">Name:</label>
  <input type="text" name="restaurant[name]" />

  <label for="">Address:</label>
  <input type="text" name="restaurant[address]" />

  <label for="">Rating:</label>
  <input type="text" name="restaurant[rating]" />

  <input type="submit" value="Create Restaurant">
</form> -->


